fastapi
uvicorn[standard]
python-multipart
langchain
langchain-groq
langgraph
groq
sentence-transformers
faiss-cpu
numpy
pydantic
pypdf
streamlit
requests
sqlalchemy>=2.0
alembic
psycopg2-binary
python-dotenv