fastapi
uvicorn[standard]
python-multipart
langchain
langchain-groq
langchain-community
langgraph
langgraph-checkpoint-postgres
groq
sentence-transformers==3.3.1
transformers>=4.41,<5.0
numpy
pydantic
pymupdf
streamlit
requests
sqlalchemy>=2.0
alembic
psycopg2-binary
python-dotenv
fastapi-users[sqlalchemy]
redis
asyncpg
qdrant-client
cohere
langchain-cohere
rank-bm25