fastapi
uvicorn[standard]
python-multipart
langchain
langchain-groq
langchain-community
langgraph
langgraph-checkpoint-postgres
groq
sentence-transformers
numpy
pydantic
pymupdf
streamlit
requests
sqlalchemy>=2.0
alembic
psycopg2-binary
python-dotenv
fastapi-users[sqlalchemy]
redis
asyncpg
qdrant-client
cohere
rank-bm25